.carrito-contenedor {
  max-width: 1000px;
  margin: 2rem auto;
}

.carrito-titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.carrito-lista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.carrito-detalles{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.carrito-detalles h3 {
  margin: 0 0 0.3rem 0;
}

.carrito-controles {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contenedor-control-desc{
  display: flex;
  flex-direction:column;
  align-items:flex-start;
}
.carrito-controles button {
  background-color: #eee;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1rem;
}

.carrito-controles span {
  font-size: 1.1rem;
  font-weight: bold;
}

.btn-eliminar {
  color: white;
  font-size: 20px;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 2px 1px rgb(197, 197, 197);
}

.carrito-resumen {
  text-align: right;
  margin-top: 2rem;
}

.btn-pagar {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.carrito-vacio {
  text-align: center;
  margin-top: 3rem;
}

.carrito-icono{
    display:inline-block;
    align-items: center;
    display: flex;
}
.contador-carrito{
    background-color: #b30000;
    width: 24px;
    text-align: center;
    color: white;
    border-radius: 18px;
    position: absolute;
    top: 10px;
    right: 130px;
    height: 24PX;
}

/* --- Imagen de producto en carrito --- */
.carrito-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  gap: 1rem; /* espacio entre imagen y detalles */
}

.carrito-imagen {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrito-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cicla-info{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.contenedor-eliminar-precio{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

#precioUnitario{
  color: #b30000;
  font-weight: bold;
  font-size: 24px;
}