.catalogo-container {
  padding: 40px;
  font-family: Poppins;
  background: #fafafa;
}

.titulo-catalogo {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.filtros-catalogo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.select-filtro {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: Poppins;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.card-producto {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 16px;
  text-align: center;
}

.img-producto {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 10px;
}

.marca {
  color: #777;
}

.precio {
  font-weight: bold;
  color: #8B0000;
}

.btn-agregar {
  margin-top: 10px;
  background: #8B0000;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn-agregar:hover {
  box-shadow: 0px 2px 10px 2px rgba(173, 12, 12, 0.5);
}
