.ContGestProduct{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
    background: #F5F5F5;
    font-family: Poppins;
}

.gestion-container{
    display: flex;
    width: 1359px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}


.tabla-productos {
  width: 100%;
  border-collapse: collapse;
  font-family: Poppins;
  border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.tabla-productos thead {
  background-color: #f5f5f5;
}

.tabla-productos th,
.tabla-productos td {
    justify-content: center;
    align-items: center;
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.badge-estado {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  width: 70px;
  text-align: center;
}

.badge-estado.activo {
  background-color: #8B0000; /* verde */
}

.badge-estado.sin-stock {
    width: auto;
  background-color: #dc3545; /* rojo */
}

.btn-editar,
.btn-eliminar1 {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.1rem;
  margin-right: 8px;
  transition: transform 0.2s ease;
}

.btn-editar:hover {
  transform: scale(1.2);
}

.btn-eliminar:hover {
  transform: scale(1.2);
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.search-container {
  position: relative;
  width: 350px;
  height: 40px;
  background: #fff;
  border-radius: 25px;
  box-sizing: border-box;
}

.search-container svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  stroke: #717182;
}

.search-input {
  width: 100%;
  height: 100%;
  padding-left: 38px;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #202124;
}

.search-input::placeholder {
  color: #8a8a8a;
}

.btn-agregar {
  padding: 0 20px;
  height: 40px;
  background: #8b0000; /* rojo oscuro según prototipo*/
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-agregar:hover {
  background-color: #a30000; /* rojo más claro al hover */
}