.productos-page {
  font-family: 'Poppins', sans-serif;
}

.hero {
  background: url('/img/banner-bike.jpg') center/cover no-repeat;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 6rem 1rem;
}

.hero h1 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.titulocategoria {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.btn-hero {
  background: #a60000;
  color: white;
  border: none;
  padding: 0.8rem 1.4rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}

.productos-lista {
  text-align: center;
  margin: 3rem 0;
}

.productos-lista h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.productos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

/* Estilos de la card */
.cardProductos {
  display: flex;
  width: 345.75px;
  padding: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 34.75px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
}

.card:hover {
  transform: scale(1.03);
}

.card-img {
  display: flex;
  width: 343.75px;
  padding: 35px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-img img {
  height: 263px;
  align-self: stretch;
}

.card-body {
  display: flex;
  width: 345px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contprecio {
  justify-content: space-between;
  display: flex;
}

.marca {
  color: #666;
  font-size: 0.9rem;
}

.nombre {
  font-weight: 600;
  margin: 0.3rem 0;
}

.precio {
  color: #b30000;
  font-weight: bold;
  font-size: 1.2rem;
}

.stock {
  font-size: 0.9rem;
  color: #444;
}

.btn-add {
  background: #a60000;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-add:hover {
  background: #7c0000;
}
