.contenedor-general {
    padding: 20px;
    height: auto;
}

.contenedor-panel-y-pedidos {
    display: flex;
    gap: 10rem;
    height: 100%;
}
.contenedor-panel{
    height: min-content;
}
.contenedorPanel {
    display: flex;
    padding-top: 60px;
}

.contenedor-pedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    gap: 20px;
    border: 1px solid rgba(179, 179, 179, 0.579);
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

.filtros {
    display: flex;
    gap: 10px;
}

.filtros button {
    color: black;
    border: 1px solid rgb(125, 125, 125);
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
}
.filtros button:hover {
    color: rgb(255, 255, 255);
    background: rgb(130, 2, 2);
    transition: 0.5s;
}

/* CARD DE PEDIDO */

.pedido-card {
    width: 700px;
    height: 180px;
    background: white;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 0 8px 1px rgb(210,210,210);
    overflow: hidden;
    margin-bottom: 20px;
}

/* Slide de imágenes */
.slider-container {
    width: 35%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    scroll-snap-align: center;
    border-right: 1px solid rgb(230,230,230);
}

/* Información del pedido */
.pedido-info {
    width: 60%;
    padding: 15px;
    display: flex;
}

.btn-detalles {
    width: 150px;
    background: brown;
    border-radius: 8px;
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-size: 12px;
    width: max-content;
}
.btn-detalles:hover {
    background: rgba(197, 10, 10, 0.882);
    cursor: pointer;
    border: 1px solid #ccc;
}

.No_pedido_fecha{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
    width: 50%;
}
.No_pedido_fecha p{
    font-size: 15px;
    color: black;
}

.Estado_total_verDetalle{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    height: 100%;
    gap: 10px;
}

#estado{
    font-size: 12px;
    border: 2px solid rgba(108, 108, 108, 0.471);
    padding: 0px 5px 0px 5px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.668);
    font-weight: bold;
}

#totalPedido{
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.lista-pedidos p{
    color: black;
}