.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-logo  {
  display: flex;
  align-items: center;
}

.LogoHome {
  width: 152px;
  height: auto;
}

.logo-text {
  font-size: 1.3rem;
  font-weight: 700;
  color: #a60000;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #a60000;
}
