/* ======== NAVBAR GENERAL ======== */
.Contenedor-navPrincipal {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 200;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 200;
  font-family: Poppins, sans-serif;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  padding: 10px 100px 10px 100px;
  width: 100%;
}


/* LOGO */
.nav-logo {
  height: 53px;
}

.nav-logo img {
  border: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ======== LINKS DESKTOP ======== */
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  transition: all 0.3s ease;
  width: 270px;
  justify-content: center;
}

.nav-links a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #a60000;
  font-size: 15px;
  transition: 0.3s;
}

/* ======== ACCESO + CARRITO ======== */
.Contcarrito-accesoregistro {
  display: flex;
  align-items: center;
  gap: 25px;
  width: min-content;
}

/* PERFIL */
.desingloginregister {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.desingloginregister:hover {
  transform: scale(1.05);
}

/* ADMIN */
.desingloginregisteradmin {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 33554400px;
  background: #000;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

/* ACCESO / REGISTRO */
.desingloginregisterdesc {
  text-decoration: none;
  display: flex;
  width: 150px;
  height: 42px;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  border: 3px solid #000;
  background: rgba(255, 255, 255, 0.85);
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  color: #000;
}



.desingloginregisterdesc:hover {
  border: 2px solid #8b0000;
  background: #9f0000;
  transform: scale(1.05);
  color: white;
}

/* ======== CARRITO ======== */
.contcarrito {
  display: flex;
  align-items: center;
}

.carrito-icono {
  position: relative;
}

.icono-carrito {
  width: 28px;
  transition: transform 0.2s ease;
}

.icono-carrito:hover {
  transform: scale(1.05);
}

.carrito-contador {
  position: absolute;
  top: -10px;
  right: -12px;
  background-color: #8b0000;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  position: absolute;
}

/* ========================================================= */
/* ======================= RESPONSIVE ======================= */
/* ========================================================= */

/* ----- Tablets grandes ----- */
@media (max-width: 1024px) {
  .navbar {
    padding: 12px 60px;
  }

  .hamburger {
    margin-left: 360px;
  }
}

/* ----- Tablets y móviles grandes (hamburguesa) ----- */
@media (max-width: 768px) {
  .navbar {
    padding: 12px 25px;
  }

  /* Ocultar links del modo desktop */
  .nav-links {
    position: fixed;
    top: 77px;
    left: -100%;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    text-align: left;
    gap: 2rem;
    padding: 2rem 1.5rem;
    height: auto;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 15px 0;
    opacity: 0;
    z-index: 150;
    transition: left 0.35s ease, opacity 0.35s ease;
  }

  .nav-links.active {
    left: 0;
    opacity: 1;
  }

  /* Ocultar perfil desktop en móviles */
  .desingloginregister {
    position: relative ;
    margin-right:70px;
  }

  

  /* -------------------------------- */
  /* -------- BOTÓN HAMBURGUESA ----- */
  /* -------------------------------- */
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 30px;
    cursor: pointer;
    z-index: 300;
  }

  .hamburger::before,
  .hamburger::after,
  .hamburger div {
    content: "";
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  /* Animación de la X */
  .hamburger.active::before {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .hamburger.active::after {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .hamburger.active div {
    opacity: 0;
  }

  .desingloginregisterdesc {
    text-decoration: none;
    display: flex;
    width: 100px;
    height: 42px;
  }

  .desingloginregisterdesc p {
    text-decoration: none;
    font-size: 10px;

  }
}

/* ----- Móviles pequeños ----- */
@media (max-width: 430px) {
  .navbar {
    padding: 12px 15px;
  }

  .nav-logo img {
    width: 120px;
  }

  .Contcarrito-accesoregistro {
    gap: 15px;
  }

  .hamburger {
    margin-left: 300px;
  }

  .desingloginregisterdesc {
    text-decoration: none;
    width: 80px;
    height: 42px;
    position: absolute;
    margin-left: -180px;
  }

  .desingloginregisterdesc p {
    text-decoration: none;
    font-size: 7px;

  }
}

/* ----- Móviles pequeños ----- */
@media (max-width: 414px) {
  .navbar {
    padding: 12px 15px;
  }

  .nav-logo img {
    width: 120px;
  }

  .Contcarrito-accesoregistro {
    gap: 15px;
  }

  .hamburger {
    margin-left: 280px;
  }

  .desingloginregisterdesc {
    text-decoration: none;
    width: 80px;
    height: 42px;
    position: absolute;
    margin-left: -180px;
  }

  .desingloginregisterdesc p {
    text-decoration: none;
    font-size: 7px;

  }
}



/* ----- Móviles super pequeños ----- */
@media (max-width: 390px) {
  .navbar {
    padding: 12px 15px;
  }

  .nav-logo img {
    width: 120px;
  }

  .Contcarrito-accesoregistro {
    gap: 15px;
  }

  .hamburger {
    margin-left: 280px;
  }

  .desingloginregisterdesc {
    text-decoration: none;
    width: 80px;
    height: 42px;
    position: relative;
    margin-right: 57px;
  }

  .desingloginregisterdesc p {
    text-decoration: none;
    font-size: 7px;
  }
}

/* ----- Móviles super pequeños ----- */
@media (max-width: 375px) {
  .navbar {
    padding: 12px 15px;
  }

  .nav-logo img {
    width: 120px;
  }

  .Contcarrito-accesoregistro {
    gap: 15px;
  }

  .hamburger {
    margin-left: 270px;
  }

  .desingloginregisterdesc {
    text-decoration: none;
    width: 80px;
    height: 42px;
    position: relative;
    margin-right: 57px;
  }

  .desingloginregisterdesc p {
    text-decoration: none;
    font-size: 7px;
  }
}






/* ----- Móviles con anchura pequeña ----- */
@media (max-width: 360px) {
  .navbar {
    padding: 12px 15px;
  }

  .nav-logo img {
    width: 120px;
  }

  .Contcarrito-accesoregistro {
    gap: 15px;
  }

  .hamburger {
    margin-left: 237px;
  }

  .desingloginregisterdesc {
    text-decoration: none;
    width: 80px;
    height: 42px;
    position: relative;
    margin-right: px;
  }

  .desingloginregisterdesc p {
    text-decoration: none;
    font-size: 7px;
  }
}