.panel-admin {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
  background: #f5f5f5;
  font-family: Poppins;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-main{
  display: flex;
width: 1359px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}
.panel-user button {
  color: black;
}
.ContPaneles{
  display: flex;
  height: auto;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;

}
.panel-box{
  width: 294px;
  display: flex;
  padding: 24px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
}
.panel-box h3{
  color: #717182;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.panel-box p{
  color: #000;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 36px;
  
}
.panel-metricas {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 26px;
  align-self: stretch;
}
.panel-alertas {
  display: flex;
  width: 667.5px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
}
.panel-alertas h2{
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.panel-alertas ul {
  display: flex;
  width: 617.5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.panel-botones {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.panel-botones button {
  color: black;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
}

.stock-item {
  display: flex;
  height: 61px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.stock-info {
  display: flex;
  width: auto;
  height: 44px;
  flex-direction: column;
  align-items: flex-start;
}

.stock-nombre {
  font-weight: bold;
  color: #333;
}

.stock-categoria {
  font-size: 0.9rem;
  color: #777;
}

.stock-cantidad {
  display: flex;
  color: white;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; 
  height: 22px;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.00);
  background: #D4183D;
}
