.panel-admin {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
  background: #f5f5f5;
  font-family: Poppins;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-user button {
  color: black;
}
.panel-box{
  width: 294px;
  display: flex;
  padding: 24px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
}
.panel-box h3{
  color: #717182;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.panel-box p{
  color: #000;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 36px;
  
}
.panel-metricas {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 26px;
  align-self: stretch;
}
.panel-alertas ul {
  list-style: none;
  padding: 0;
}
.panel-alertas li {
  color: red;
  font-weight: bold;
}
.panel-botones {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.panel-botones button {
  color: black;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
}
