.contenedor-panel{
    position: sticky;
    top: 100px;
    display: flex;
    width: 315px;
    height: auto;
    padding: 24px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}
.btn-logout p{
    color: #D4183D;

}

.icon-perfil-panel img{
    display: flex;
    width: 96px;
    height: 96px;
    justify-content: center;
    align-items: center;
}

.name-correo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
.name-correo p {
    color: #877b7b;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.ContOpciones {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.name-correo h1 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.options{
    border-top: 1px solid #c5c5c5;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;

}

.options button{
    width: 100%;
    font-family: 'Poppins';
    font-size: 12px;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    color: black;
}

.options button:hover{
    background-color: brown;
    color: white;
}