.contenedor-panel{
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;
    gap: 40px;
    padding: 10px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 5px 1px rgb(205, 205, 205);
}
.icon-perfil-panel img{
    width: 200px;
}

.name-correo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding-bottom: 50px;
    font-size: 12px;
}
.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}

.options button{
    border: 1px solid rgba(158, 158, 158, 0.562);
    font-family: 'Poppins';
    font-size: 12px;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    color: black;
}

.options button:hover{
    background-color: brown;
    color: white;
}