
.cont-pm-page{
  display: flex;
  width: 100%;
  justify-content: center;
    background-color: #fff;
}
.pm-container {
  padding: 32px 40px;
  display: flex;
  height: auto;
  min-height: 532px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  box-sizing: border-box;
}

.cont-pm-security{
  display: flex;
  height: 56.953px;
  padding: 16px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  border: 1.5px solid #B9F8CF;
  background: #F0FDF4;
}
.cont-pm-security p{
  color: #016630;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.Cont-pm{
  width: 790px;
  display: flex;
  height: 111.984px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}

.pm-back-link {
  font-weight: 400;
  font-size: 0.9rem;
  color: #555;
  cursor: pointer;
  margin-bottom: 1rem;
}

.pm-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.pm-subtitle {
  font-weight: 400;
  color: #666;
  margin-bottom: 2rem;
}

.pm-main-content {
display: flex;
height: 672.727px;
justify-content: center;
align-items: flex-start;
gap: 31.992px;
flex-shrink: 0;
align-self: stretch;
}

.pm-form {
  gap: 24px;
  display: flex;
  width: 757.336px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  border: 1.5px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.pm-label {
  display: flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  font-weight: 600;
  font-size: 0.9rem;
  color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.pm-methods {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15.984px;
  flex-shrink: 0;
  align-self: stretch;
  padding-bottom: 20px  ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pm-method-btn {
  display: flex;
  width: 219.445px;
  height: 102.914px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15.984px;
  border-radius: 12px;
  border: 1.5px solid #F5F5F5;
  background: #F5F5F5;
}

.pm-method-btn{
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.pm-method-btn:hover {
  border-color: #900909;
}

.pm-method-selected {
  border-color: #900909;
  background: #fff;
}

.pm-method-icon {
  font-size: 1.3rem;
}

.pm-input {
  border: 1.5px solid #ddd;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  outline-offset: 3px;
  outline-color: transparent;
  transition: outline-color 0.3s ease;
}

.pm-input:focus {
  outline-color: #900909;
  border-color: #900909;
}

.pm-exp-cvv {
  display: flex;
  gap: 1rem;
}

.pm-expiration,
.pm-cvv {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pm-secure-info {
  background: #d6f4e4;
  border-radius: 6px;
  color: #2d6a4f;
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
  margin-top: 0.5rem;
}

.pm-secure-icon {
  font-size: 1.2rem;
}

.pm-confirm-btn {
  display: flex;
  padding: 12px 222.125px 12px 222.258px;
  justify-content: center;
  align-items: center;
  gap: 15.984px;
  align-self: stretch;
  border-radius: 50331600px;
  background: #8B0000;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
}

.pm-confirm-btn:hover {
  background-color: #bb0d0d;
}

.pm-summary {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 16px;
  border: 1.5px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.pm-summary span{
  color: #717182;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.cont-pm-general{
  display: flex;
  width: 311.672px;
  height: 84.914px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pm-summary-title {
  display: flex;
  width: 314px;
  align-items: center;

}

.pm-summary-item,
.pm-summary-total {
  display: flex;
  height: 19.969px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}

.pm-summary-total {
  font-weight: 700;
  font-size: 1.2rem;
  color: #900909;
}

.pm-summary-total span{
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.Total-pam span{
  color: #8B0000;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

.pm-accepted-methods-label {
  font-size: 0.9rem;
  color: #555;
  font-weight: 600;
}

.pm-accepted-methods {
  display: flex;
  gap: 1rem;
  color: #666;
  font-size: 0.9rem;
}

.pm-accepted-method-icon {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

@media (max-width: 720px) {
  .pm-main-content {
    flex-direction: column;
  }
}