.contenedor-general-sobrenostros {
    height: auto;
    padding: 0px 30px;
}

.logo-titulo {
    background: linear-gradient(to bottom, rgb(233, 233, 233), rgba(255, 255, 255, 0));
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 30px;
    gap: 0px;

}

.logo-titulo img {
    height: 210px;
    width: 300px;
}

.logo-titulo p {
    color: black;
}

.Descripcion-sobrenostros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.Descripcion-sobrenostros h1 {
    font-size: 23px;
    color: rgb(119, 119, 119);
}

.text {
    width: 50%;
}

.text p {
    color: black;
}

.contenedor-imagenes {
    height: auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 40px 20px 40px 20px;
    flex-wrap: wrap;

}

.contenedor-imagenes img {
    height: 560px;
    width: 350px;
    border-radius: 20px;
    transition: 1s;

}

.contenedor-imagenes img:hover {
    transform: scale(1.3);
    transition: 1s;
    cursor: pointer;
}

.cards-informativas {
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 50px;
    padding-bottom: 100px;

}

.encabezado_SN {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 20px;
}

.encabezado_SN h2 {
    font-size: 20px;
    font-weight: lighter;
}

.encabezado_SN p {
    color: rgb(114, 114, 114);
    font-size: 19px;
}

.contenedor-de-cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

}

.cardinfo {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 370px;
    border: 1px solid rgb(208, 208, 208);
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 16px;
    background-color: white;
}

.cardinfo p {
    color: black;
}

#titlecard {
    color: black;
    font-weight: bold;
}

.ContenedorPublicidad {
    background: linear-gradient(to bottom, white, rgba(210, 210, 210, 0.35));
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.publicidad {
    display: flex;
    width: 600px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    height: min-content;
}

.publicidad p {
    color: rgb(88, 88, 88);
}

#readyAventure {
    font-weight: bold;

}

.icono-background {
    background-color: rgb(150, 9, 9);
    display: flex;
    padding: 15px;
    border-radius: 30px;
}

.publicidad button {
    font-size: 16px;
    border: 1px solid rgb(125, 6, 6);
    width: 200px;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    background-color: rgb(133, 6, 6);
}
.publicidad button:hover {
    background-color: rgb(112, 5, 5);
}

.recomendacion {
    display: flex;
    justify-content: center;
    gap: 300px;
    height: auto;
    padding: 30px;
    margin-top: 60px;
    padding-bottom: 80px;
    flex-wrap: wrap;

}

.card-recomendacion {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.card-recomendacion p {
    font-size: 20px;
    color: rgb(125, 125, 125);
}

#price {
    font-size: 50px;
    color: rgb(185, 12, 12);
    font-weight: bold;
}